body {
    background-color: #f4e4fe;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.home-container1 {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    border-color: black;
}

.home-container2 {
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px 25px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    border-color: black;
    margin:auto;
}


.btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff82;
    transform: translateY(-0.05em);
    cursor: pointer;
}

.strips {
    background-color: #8c09ff;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.btn-success{
    background-color: #8c09ff;
    border-color:#8c09ff;
    border-radius: 0.8em;
}
.btn-success:hover{
    background-color: #8c09ff;
    border-color:#8c09ff;
}


.btn-primary{
    background-color: #0077ff;
    border-radius: 0.8em;
}
.btn{
    border-radius:0.8em
}
.card{
    border-radius: 1em;
    background-color: #edd1ff;
    overflow: hidden;
}
img{
    border-radius: 1em;
}

.list-group{
    border-radius:1em;
}
